.button
  display: inline-block
  padding: 14px 77px
  text-align: center
  font-size: 24px
  font-weight: 300
  text-decoration: none
  border: 1px solid rgba(0, 0, 0, 0.15)
  cursor: pointer
  box-sizing: border-box

  &:hover,
  &:active,
  &:focus
    outline: 0

.button
	transition: all .5s
	position: relative

&.button-white
	color: white
	border: 1px solid rgba(255, 255, 255, .15)

	&:hover
		color: white !important

	& .ripple-effect--hover
			background: white

.rippleHover
	&:hover
		color: #333

.width-lt-640
	.button
		margin: 5px 0px
		padding: 12px 54px
		font-size: 20px
		-webkit-tap-highlight-color: rgba(255, 255, 255, .1)

.width-lt-400
	.button
		font-size: 18px
