::selection
  color: white

::selection
	background: $red

::-moz-selection
  background: $red

::-moz-selection
	color: white

img::selection
  background: transparent

img::-moz-selection
  background: transparent

body
  -webkit-tap-highlight-color: rgba(0, 0, 0, .3)


::-webkit-scrollbar
	width: 17px
	height: 4px
	background: transparent

::-webkit-scrollbar-thumb
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .0)), to(rgba(0, 0, 0, .2)))
