//	Headings

h1, h2, h3, h4, h5, h6
	margin: 0


h1,.h1
	font-size: 96px
	font-weight: 700
	color: white
	text-shadow: 0 6px 23px rgba(0, 0, 0, .2)
	line-height: 1.2
	text-transform: uppercase
	letter-spacing: -0.09em

.width-lt-640
	& h1,.h1
		text-shadow: 0 3px 18px rgba(0, 0, 0, .2)
		font-size: 60px


h2,.h2
	font-size: 72px
	line-height: 1.14
	color: white
	text-shadow: 0 6px 23px rgba(0, 0, 0, .2)
	line-height: 1.2
	text-transform: uppercase
	letter-spacing: -0.09em

h3,.h3
  font-size: 26px
  line-height: 1.38

h4,.h4
  font-size: 22px
  line-height: 1.38

small
  font-size: 10px
  line-height: 1.2


// Basic Text Style

strong
  font-weight: 700

hr
  border: solid #ddd
  border-width: 1px 0 0
  clear: both
  margin: 10px 0 30px
  height: 0
