//	Headings

h1, h2, h3, h4, h5, h6
	margin: 0

.heading-wrap
	z-index: 0
	position: relative

h1,.h1
	font-size: 96px
	font-weight: 700
	color: white
	text-shadow: 3px 0px 0px rgba(0, 0, 0, 0)
	line-height: 1.2
	text-transform: uppercase
	letter-spacing: -0.09em
	padding-top: 100px
	transition: all .6s .4s

	& span
		position: relative


	&.visible
		text-shadow: 11px 0px 15px rgba(0, 0, 0, 0.15)


.width-lt-640
	& h1,.h1
		text-shadow: 0 3px 18px rgba(0, 0, 0, .2)
		font-size: 60px


h2,.h2
	font-size: 72px
	line-height: 1.14
	color: white
	text-shadow: 2px 0px 5px rgba(0, 0, 0, 0.0)
	line-height: 1.2
	text-transform: uppercase
	letter-spacing: -0.09em

	& span
		position: relative

	&.visible
		text-shadow: 11px 0px 15px rgba(0, 0, 0, 0.15)

h3,.h3
  font-size: 26px
  line-height: 1.38

h4,.h4
  font-size: 22px
  line-height: 1.38

small
  font-size: 10px
  line-height: 1.2


// Basic Text Style

strong
  font-weight: 700

hr
  border: solid #ddd
  border-width: 1px 0 0
  clear: both
  margin: 10px 0 30px
  height: 0
