
#Options -Indexes
#ErrorDocument 404 /index.php
#ErrorDocument 403 /index.php

#RewriteEngine On
#RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /(.*)index\.php($|\ |\?)
#RewriteRule ^ /%1 [R=301,L]

Options +FollowSymlinks

RewriteEngine on


#Presmerovanie na www  - POZOR, nebude fungovat pokial je web na inej subdomene ako www
	#Internet
	RewriteCond %{REMOTE_HOST} !^127\.0\.0\.1
	RewriteCond %{REMOTE_HOST} !^192\.168\.
	RewriteCond %{HTTP_HOST} !.lioweb.sk$
	RewriteCond %{HTTP_HOST} !.webicek.sk$
	RewriteCond %{HTTP_HOST} !^www\.
	RewriteCond %{HTTP_HOST} !^new\.
	RewriteCond %{HTTP_HOST} !^novy\.
	RewriteRule ^(.*)$    http://www.%{SERVER_NAME}/$1 [R=301,L]

#Presmerovanie favicon.ico
	#Internet
	RewriteCond %{REMOTE_HOST} !^127\.0\.0\.1
	RewriteCond %{REMOTE_HOST} !^192\.168\.
	RewriteRule ^favicon\.ico$ /images/favicon.ico [L,QSA]

	#LAN
	RewriteRule ^favicon\.ico$ images/favicon.ico [L,QSA]

#Prida na koniec "/", ak tam nie je. (napr. www.example.com/contact na www.example.com/contact/)
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_URI} !(.*)/$
	RewriteRule ^(.*)$ http://%{HTTP_HOST}%{REQUEST_URI}/ [L,R=301]

#Routovanie na index.php vsetkeho co neexsituje
	#Internet
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REMOTE_HOST} !^127\.0\.0\.1
	RewriteCond %{REMOTE_HOST} !^192\.168\.
	RewriteRule ^(.*)$ /index.php?route=$1 [L,QSA]

	#LAN
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?route=$1 [L,QSA]

<IfModule mod_expires.c>

    ExpiresActive on
    ExpiresDefault                                      "access plus 1 month"

  # CSS

    ExpiresByType text/css                              "access plus 1 year"


  # Data interchange

    ExpiresByType application/atom+xml                  "access plus 1 hour"
    ExpiresByType application/rdf+xml                   "access plus 1 hour"
    ExpiresByType application/rss+xml                   "access plus 1 hour"

    ExpiresByType application/json                      "access plus 0 seconds"
    ExpiresByType application/ld+json                   "access plus 0 seconds"
    ExpiresByType application/schema+json               "access plus 0 seconds"
    ExpiresByType application/vnd.geo+json              "access plus 0 seconds"
    ExpiresByType application/xml                       "access plus 0 seconds"
    ExpiresByType text/xml                              "access plus 0 seconds"


  # Favicon (cannot be renamed!) and cursor images

    ExpiresByType image/vnd.microsoft.icon              "access plus 1 year"
    ExpiresByType image/x-icon                          "access plus 1 year"

  # HTML

    ExpiresByType text/html                             "access plus 0 seconds"


  # JavaScript

    ExpiresByType application/javascript                "access plus 1 year"
    ExpiresByType application/x-javascript              "access plus 1 year"
    ExpiresByType text/javascript                       "access plus 1 year"


  # Manifest files

    ExpiresByType application/manifest+json             "access plus 1 week"
    ExpiresByType application/x-web-app-manifest+json   "access plus 0 seconds"
    ExpiresByType text/cache-manifest                   "access plus 0 seconds"


  # Media files

    ExpiresByType audio/ogg                             "access plus 1 year"
    ExpiresByType image/bmp                             "access plus 1 year"
    ExpiresByType image/gif                             "access plus 1 year"
    ExpiresByType image/jpeg                            "access plus 1 year"
    ExpiresByType image/png                             "access plus 1 year"
    ExpiresByType image/svg+xml                         "access plus 1 year"
    ExpiresByType image/webp                            "access plus 1 year"
    ExpiresByType video/mp4                             "access plus 1 year"
    ExpiresByType video/ogg                             "access plus 1 year"
    ExpiresByType video/webm                            "access plus 1 year"


  # Web fonts

    # Embedded OpenType (EOT)
    ExpiresByType application/vnd.ms-fontobject         "access plus 1 year"
    ExpiresByType font/eot                              "access plus 1 year"

    # OpenType
    ExpiresByType font/opentype                         "access plus 1 year"

    # TrueType
    ExpiresByType application/x-font-ttf                "access plus 1 year"

    # Web Open Font Format (WOFF) 1.0
    ExpiresByType application/font-woff                 "access plus 1 year"
    ExpiresByType application/x-font-woff               "access plus 1 year"
    ExpiresByType font/woff                             "access plus 1 year"

    # Web Open Font Format (WOFF) 2.0
    ExpiresByType application/font-woff2                "access plus 1 year"


  # Other

    ExpiresByType text/x-cross-domain-policy            "access plus 1 week"

</IfModule>
