


.about-text
	font-weight: 700
	font-size: 35px
	line-height: 2.5
	text-align: justify

.width-lt-1280
	.about-text
		text-align: left

.width-lt-980
	.about-text
		font-size: 26px

.width-lt-400
	.about-text
		font-size: 22px

.social-links-contact
	.button
		padding: 54px 61px
		font-size: 30px

		&::before
			width: 30px
			height: 30px
			display: block

.width-lt-640
	.social-links-contact
		.button
			padding: 30px
			font-size: 20px

			&::before
				width: auto
				height: auto

.author
	position: relative
	bottom: 0
	left: 0
	width: 100%
	text-align: center
	font-size: 20px
	padding: 100px 40px

@media screen and (max-width: 360px)
	.author
		font-size: 15px
		padding: 60px 20px
