


.about-text
	font-weight: 700
	font-size: 30px
	text-align: justify

.width-lt-1280
	.about-text
		text-align: left


.author
	color: #969696
	position: relative
	bottom: 0
	left: 0
	width: 100%
	text-align: center
	font-size: 16px
	padding: 20px

@media screen and (max-width: 360px)
	.author
		font-size: 14px
