
/* GREY FIXED LINES START */
.lines-overlay
	position: fixed
	top: 0
	left: 0
	width: 100vw
	height: 100%
	pointer-events: none
	z-index: 10

	.line
		width: 1px
		position: absolute
		background: black
		animation-fill-mode: forwards
		height: 100%
		opacity: .08
		animation: lines 1.5s

	.line-1
		left: 16.2vw

	.line-2
		left: 33.33vw
		animation-delay: .1s

	.line-3
		left: 49.99vw
		animation-delay: .3s

	.line-4
		left: 66.66vw
		animation-delay: .5s

	.line-5
		left: 82.8vw
		animation-delay: .7s

@keyframes lines
	0%
		height: 0
		opacity: .2
	100%
		height: 100%
		opacity: .08

.width-lt-1280
	.line-5,.line-4
		display: none

	.line-1
		left: 25vw

	.line-2
		left: 50vw

	.line-3
		left: 75vw

.width-lt-980
	.line
		display: none

/* GREY FIXED LINES END */


/* LOGO START */
.logo
	display: inline-flex
	justify-content: center
	align-items: center
	position: fixed
	top: 0
	left: 0
	width: 260px
	height: 120px
	z-index: 9

	&:before
		content: ''
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		transition: all .6s
		background: linear-gradient(160deg, rgba(36,18,58,0.15) 0%, rgba(36,18,58,0) 50%)
		opacity: 0
		z-index: -1

	&:hover:before
		opacity: 1

.width-lt-980
	.logo
		position: absolute
		left: 0
		top: 0
		width: 155px
		height: 60px
		z-index: 0

		&:before
			display: none

		img
			width: 120px

/* LOGO END */


/* HEADER START */

.width-lt-980
	.header
		position: fixed
		top: 0
		left: 0
		width: 100%
		height: 60px
		z-index: 2

		&:before
			content: ''
			position: absolute
			bottom: 0
			left: 15px
			right: 15px
			height: 1px
			background: black
			opacity: .08

/* HEADER END */

/* SOCIAL LINKS START */
.social-links
	position: absolute
	bottom: 30px
	left: 0
	width: 100%

	.item
		display: block
		text-align: center
		padding: 10px 0
		color: $grey
		transition: all .3s

		&:hover
			color: $pink

.width-lt-980
	.social-links
		text-align: center

		.item
			display: inline-block
			padding: 23px 20px


/* SOCIAL LINKS END */


/* MOUSE MOVE START */
.page-bg
	z-index: -1
	position: fixed
	top: 0
	left: 0
	width: 100vw
	height: 100vh
	overflow: hidden
	transition: background .6s

	.mouse-move-el
		width: 50vw
		height: 50vw
		//background-image: -webkit-radial-gradient(center center, rgba(36, 18, 58, .04) 10px,  rgba(36, 18, 58, 0) 70%), -webkit-radial-gradient(center center,  rgba(36, 18, 58, .05) 8px,  rgba(36, 18, 58, 0) 40%)

/* MOUSE MOVE END */


/* BODY CONTENT START */

#body-content
	margin: 0 auto
	z-index: 1

.width-lt-980
	#body-content
		width: 100%
		padding: 90px 20px

/* BODY CONTENT END */


/* PRELOADER & PAGE TRANSITION START */

.preload-cont,.load-cont
	//display: none
	pointer-events: none
	opacity: 1
	position: fixed
	top: 0
	bottom: 0
	left: 0
	right: 0
	line-height: 100%
	z-index: 2

	.wfi
		position: fixed
		left: 50%
		top: 50%
		transform: translate(-50%,-50%)
		color: $grey
		font-weight: 300
		font-size: 40px
		opacity: 0
		z-index: 3
		transition: all .6s

	.layer
		background: #fff
		z-index: 1
		position: absolute
		top: 0
		left: 0
		height: 100vh
		width: 100vw

.preload-cont
	.layer
		animation: preloadSite 1.5s
		animation-fill-mode: forwards
		animation-delay: 1s

@keyframes preloadSite
	0%
		transform: translate3d(0,0%,0)

	95%
		box-shadow: 0 3px 40px rgba(0, 0, 0, .1)

	100%
		transform: translate3d(0,-100%,0)
		box-shadow: 0 3px 40px rgba(0, 0, 0, 0)


.load-cont
	.layer
		transform: translate3d(0,-100%,0)
		transition: all .6s
		box-shadow: 0 3px 40px rgba(0, 0, 0, .1)

&.show
	.layer
		transform: translate3d(0,0%,0)

&.show .wfi
	opacity: .5

.width-lt-980
	.load-cont
		display: none

/* PRELOADER & PAGE TRANSITION END */


/* RIPPLE EFFECT - START */

.ripple
  position: relative

.ripple-effect
	position: absolute
	border-radius: 50%
	width: 50px
	height: 50px
	background: black
	pointer-events: none
	animation: ripple 1s

@keyframes ripple
	0%
	  transform: scale(1)
	  opacity: 0.05

	100%
	  transform: scale(100)
	  opacity: 0

/* RIPPLE EFFECT - END */
