
.gMap-cont
	background: url('../images/map-preload.jpg') center center
	background-size: cover

.gMap
	height: 50vh

.width-lt-640
	.gMap
		height: 350px

.gm-style-cc
	visibility: hidden

.gm-style
	position: relative

	&:before
		content: ''
		position: absolute
		left: 10px
		top: 50%
		width: 28px
		height: 55px
		border-radius: 2px
		z-index: 1
		pointer-events: none
		transform: translateY(-50%)
		background: url(../images/map-zoom.png) center center
		background-size: 100%

	&:after
		content: ''
		position: absolute
		left: 0
		top: 50%
		width: 100%
		height: 100%
		transform: translateY(-50%)
		+horizontalGrad
		transition: all 1s

.width-lt-640
	.gm-style
		&:after
			transition: all .6s

.loaded
	.gMap
		&.is-visible
			.gm-style
				&:after
					width: 0

	.gm-style-iw
		text-align: center

.gMap-iw
	font-size: 16px
	line-height: 1
	padding: 10px
	padding-bottom: 5px

	& a:hover
		color: $red
		text-decoration: none

.gMap
	img[src="assets/images/marker.png"]
		animation: pulse 3s infinite

	img[src="assets/images/marker-lt-980.png"]
		animation: pulse 3s infinite

@keyframes pulse
	0%,100%
		transform: scale(1)

	50%
		transform: scale(.8)

.iw-invisible
	opacity: 0

.iw-visible
	transform-origin: bottom center
	animation: isVisible .3s
	animation-delay: .1s
	animation-fill-mode: forwards

@keyframes isVisible
	0%
		transform: scale(.6) translateY(20px)
		opacity: 0

	100%
		transform: scale(1) translateY(0px)
		opacity: 1
