
/* HERO SECTION START */

.hero-section
	height: 100vh
	min-height: 700px
	max-height: 1080px
	background: url('../images/hero.jpg') bottom right no-repeat

	h1
		padding: 0
		transform: translateX(-7px)

.width-lt-640
	.hero-section
		height: auto
		background-image: url('../images/hero-lt-640.jpg')

/* HERO SECTION END */

.section
	height: 60vw
	min-height: 700px

	&.centered
		display: flex
		align-items: center

.boxed
	margin: 0 auto
	max-width: 66.66%

	img
		vertical-align: bottom

.width-lt-1280
	.boxed
			max-width: 75%

.width-lt-980
	.section
		height: 80vh
		min-height: 500px

	.boxed
		max-width: 85%

.width-lt-640
	.section
		height: auto
		padding: 60px 0


/* GROW IMG START */

.growImg
	height: 100%
	background: center center no-repeat #fff
	background-size: cover
	background-attachment: fixed
	position: relative
	overflow: hidden
	margin: auto

	.growSide
		height: 100%
		width: 16.66%
		position: absolute
		top: 0
		transform: translateX(0)
		background: white

	.growSide-left
		left: 0

	.growSide-right
		right: 0

.width-lt-980
	.growImg
		height: 80vh
		min-height: 500px

	.growSide
		display: none

.edge, .ie
	.growImg
		background-attachment: inherit

/* GROW IMG END */


/* 404 START */

.err-image
	position: relative
	width: 100%
	height: 100vh

	.image
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: url('../images/404.png') center bottom no-repeat
		background-size: auto 100%
		opacity: .2
		z-index: -1

.width-lt-400
	.err-image
		.image
			height: 320px

/* 404 END */


/* VIDEO START */

.video-cont
	width: 480px
	margin: 0 auto
	position: relative

	.video
		max-width: 100%
		vertical-align: bottom

.width-lt-640
	.video-cont
		width: 360px

.width-lt-400
	.video-cont
		width: 260px

/* VIDEO END */
