@font-face {
  font-family: 'icon-font';
  src:
    url('icon-font.ttf?5m3ixg') format('truetype'),
    url('icon-font.woff?5m3ixg') format('woff'),
    url('icon-font.svg?5m3ixg#icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\f002";
}
.icon-star:before {
  content: "\f006";
}
.icon-home:before {
  content: "\f015";
}
.icon-heart:before {
  content: "\f08a";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-mail:before {
  content: "\e159";
}
.icon-send:before {
  content: "\e163";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-youtube-play:before {
  content: "\f16a";
}
.icon-behance:before {
  content: "\f1b4";
}
.icon-google:before {
  content: "\ea88";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-vimeo:before {
  content: "\eaa0";
}
.icon-dribbble:before {
  content: "\eaa7";
}
.icon-github:before {
  content: "\eab0";
}
.icon-skype:before {
  content: "\eac5";
}
.icon-phone:before {
  content: "\e942";
}
.icon-location:before {
  content: "\e947";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-dropbox:before {
  content: "\eaae";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-android:before {
  content: "\eac0";
}
.icon-pinterest:before {
  content: "\ead1";
}
.icon-codepen2:before {
  content: "\eae8";
}
.icon-angle-double-up:before {
  content: "\f102";
}
.icon-angle-double-down:before {
  content: "\f103";
}
.icon-codepen:before {
  content: "\f1cb";
}
